@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

html {
  scroll-behavior: smooth;
}

.mainNav h1 span {
  display: inline-block;
  transform: scaleX(-1);
  font-family: "Karla", sans-serif;
}

.mainNav h1 {
  margin-right: auto;
  font-family: "Karla", sans-serif;
}
.breadcrumbs {
  list-style-type: none;
  display: flex;
  font-family: "Karla", sans-serif;
}
.breadcrumbs li::after {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  content: "";
}
.breadcrumbs li:last-child::after {
  background: none;
}

.purchaseBox {
  background: #d8d8d8;
  color: var(--background-color);
  padding: 1rem;
  width: 50%;
  margin-left: 8rem;
  font-family: "Karla", sans-serif;
}

.info {
  padding: 1rem;
  font-family: "Karla", sans-serif;
}
.product select {
  min-width: 100px;
  font-family: "Karla", sans-serif;
}
.product main {
  display: grid;
  font-family: "Karla", sans-serif;
}
.product main .breadcrumbs,
.product main img {
  grid-column: 1/-1;
}
.purchaseBox form label {
  gap: 1rem;
  font-family: "Karla", sans-serif;
}
.purchaseBox button {
  display: block;
  margin-top: 1rem;
  width: 100%;
  font-family: "Karla", sans-serif;
}
dt {
  font-weight: 700;
  font-family: "Karla", sans-serif;
}
footer {
  padding-top: 2rem;
  font-family: "Karla", sans-serif;
}

@media screen and (min-width: 1000px) {
  .product main {
    grid-template-columns: 1fr 310px;
  }
  .info {
    order: 0;
  }
  .purchaseBox {
    order: 2;
    transform: translate(-50px, -100px);
  }
}
